:root {
  --title-color: #212121;
  --text-color: #757575;
  --primary-background: #2f303a;
  --accent-color: #2196f3;
  --secondary-color: #ffff;
  --our-team-background: #f5f4fa;
  --company-text-color: #000000;
  --background-portfolio-button: #f5f4fa;
  --portfolio-overlay-background: rgba(33, 150, 243, 0.9);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* HEADER */
.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
}

.nav-list {
  display: flex;
}

.communication-list {
  display: flex;
  margin-left: auto;
}

.communication-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-button {
  display: flex;
  align-items: center;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--company-text-color);
  margin-right: 93px;
}

.logo__span {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.nav-list__link {
  position: relative;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-color);
  transition: color 250ms var(--timing-function);
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--accent-color);
}

.nav-list__link.current {
  padding: 28px 0px;
  color: var(--accent-color);
}

.nav-list__link.current::after {
  content: '';
  position: absolute;
  display: block;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.communication-list__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms var(--timing-function);
}

.communication-list__link:hover,
.communication-list__link:focus {
  color: var(--accent-color);
}

.communication-list__icon-link {
  fill: #757575;
  transition: fill 250ms var(--timing-function);
}

.communication-list__icon-link:hover {
  fill: var(--accent-color);
}

.communication-list__icon {
  margin-right: 10px;
}

/* main content section */
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.65;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

.hero {
  background-color: var(--primary-background);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
}

.hero__btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  background-color: #2196f3;
  color: var(--secondary-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-list {
  display: flex;
}

.section_item:not(:last-child) {
  margin-right: 30px;
}

.section_title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.section_text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* Advantages */
.section-advantages {
  padding-top: 94px;
}

.advantages {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages__icon {
  width: 70px;
  height: 70px;
}

.advantages__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
}

.advantages__text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* Overleys */
.doing-overley {
  position: relative;
}

.doing-overlay__images {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  padding: 27px;
}

.doing-overley__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.doing-list {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

/* Our-team */
.our-team__title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.our-team-content {
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team {
  background: var(--our-team-background);
}

.our-team-box {
  padding: 30px 32px;
}

.our-team__icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: #ffffff;
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.our-team__icon-link:hover,
.our-team__icon-link:focus {
  fill: #fff;
  background-color: #2196f3;
}

.our-team__icon-list {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
}

.our-team__icon {
  width: 20px;
  height: 20px;
}

.card-content {
  margin-top: 9px;
}

/* Client */
.client-list__item:not(:last-child) {
  margin-right: 30px;
}

.client-list__link {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.client-list__link:hover,
.client-list__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.client-list {
  display: flex;
}

/* Footer components */
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-section__logo-link {
  margin-bottom: 20px;
  display: block;
}

/* Footer */
.footer {
  display: flex;
  align-items: baseline;
  background: var(--primary-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section {
  display: flex;
  align-items: baseline;
}

.footer-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-icon-list {
  display: flex;
  margin-top: 20px;
}

.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  transition: background-color 250ms var(--timing-function);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #2196f3;
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: #ffff;
}

.footer-section__logo {
  margin-right: 70px;
}

.footer-icon-section {
  display: flex;
  flex-direction: column;
}

.footer-section__logo-span {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.address-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.footer-list {
  margin-top: 9px;
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--secondary-color);
}

/* Footer-form */
.footer-form {
  margin-left: 93px;
}

.footer-subscribe {
  display: flex;
}

.Subscribe {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.user-email-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border-radius: 4px;
  color: var(--secondary-color);
  outline: 0;
}

.user-email-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 29px;
  margin-left: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 0;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}

.footer-form-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.portfolio-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.portfolio-card-set {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-card-set > .portfolio-item {
  flex-basis: calc(100% / 3- 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-link-card-item {
  position: relative;
  display: block;
  cursor: pointer;
  transition: box-shadow 250ms var(--timing-function);
}

.portfolio-link-card-item:hover,
.portfolio-link-card-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.portfolio-button {
  font-family: inherit;
  background: var(--background-portfolio-button);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: 0;
  padding: 6px 22px;
  border-radius: 4px;
  color: var(--title-color);
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), color 250ms var(--timing-function);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background: var(--accent-color);
  color: var(--secondary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-button.current {
  background: var(--accent-color);
  color: var(--secondary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--title-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  background-color: var(--portfolio-overlay-background);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  overflow: auto;
  transform: translateY(101%);
  transition: transform 500ms;
}

.portfolio-link-card-item:hover .portfolio-overlay,
.portfolio-link-card-item:focus .portfolio-overlay {
  transform: translateY(0%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #fff;
  padding: 40px 40px;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 8px;
  margin-top: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
}

.close-btn__svg {
  width: 11px;
  height: 11px;
  transition: fill 250ms var(--timing-function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-btn-form {
  display: flex;
  flex-direction: column;
}

.modal-btn-form-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-btn-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-btn-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: 0;
  transition: border-color 250ms var(--timing-function);
}

.modal-btn-input:hover,
.modal-btn-input:focus {
  border-color: #2196f3;
}

.modal-btn-input:hover + .modal-form-icon,
.modal-btn-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}

.form-btn-input {
  position: relative;
  margin-bottom: 10px;
}

.modal-form-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
  resize: none;
  transition: border-color 250ms var(--timing-function);
}

.modal-form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-textarea:hover,
.modal-form-textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.agree-input:checked + .modal-btn-form-checkbox:before {
  border: 0;
  background-image: url("../images/check.svg");
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid var(--accent-color);
  border-radius: 2px;
}

.agree-input:focus + .modal-btn-form-checkbox:before {
  border-color: var(--accent-color);
}

.modal-btn-form-checkbox:before {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  content: '';
  margin-right: 7px;
}

.modal-btn-form-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.modal-button {
  display: block;
  margin: 0 auto;
  padding: 10px 56px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
}

.modal-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-link {
  color: #2196f3;
}
/*# sourceMappingURL=main.css.map */