/* Client */
.client-list__item:not(:last-child) {
  margin-right: 30px;
}
.client-list__link {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}
.client-list__link:hover,
.client-list__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}
.client-list {
  display: flex;
}
